{% extends 'base.html.twig' %}

{% block title %}Hello PropertyController!{% endblock %}

{% block body %}
<div class="jumbotron text-center">
<h1>Sisi</h1>
<p>Lorem ipsum dolor, sit amet jb jb pisicing elit. Sed quos asperiores nihil, nisi quasi illum deleniti delectus. Iusto impedit excepturi magnam? Fuga corrupti odit voluptatum officiis? Impedit labore nulla nam?</lorel></p>
</div>

<div class="container">
<div class="row flex">
    {% for property in properties %}
        <div class="col-3">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">
        <a href="{{ path('property.show', {'id': property.id}) }}">{{ property.title }}</a>
        ({{ property.rooms }} rooms)
        </h5>
        <p class="card-text">{{ property.city }}</p>
        <div class="text-primary">{{ property.formatedPrice }} €</div>
        </div>
        </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
