{% extends 'base.html.twig' %}

{% block title %}Property view{% endblock %}

{% block body %}
<div class="jumbotron text-center">
<h1>Agence Immo</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quos asperiores nihil, nisi quasi illum deleniti delectus. Iusto impedit excepturi magnam? Fuga corrupti odit voluptatum officiis? Impedit labore nulla nam?</lorel></p>
</div>

<div class="container">
<div class="row flex">
    
        <div class="col-8">
        
        <h1 class="card-title">       {{ property.title }}        </h1>
        <h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>

        <p class="card-text">{{ property.city }}</p>


        <div class="text-primary">{{ property.formatedPrice }} €</div>
        <a href="#" class="btn btn-primary">Nous Contacter</a>
        </div>
    
</div>
</div>
{% endblock %}